extends ../layout

block content
	h1
		a.btn.btn-primary.btn-xs(href="/") Voltar
		| Cadastrar Empresa

	form.form(method='post', action='/empresas', enctype='multipart/form-data')
		.form-group
			label Nome da Empresa
			input.form-control(type='text', name='nome', required)

		.form-group
			label Link
			input.form-control(type='url', name='link', placeholder="http://")

		.form-group
			label Logo
			input.form-control(type='file', name='logo')

		.form-group
			label Telefone
			input.form-control(type='text', name='telefone')

		input.btn.btn-primary(type='submit', value='Cadastrar')